{% extends "userflow/base.html" %}
{% load i18n static %}

{% block page_title %}{% translate "Anmeldecode eingeben" %}{% endblock page_title %}

{% block messages %}{% endblock messages %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-10 col-xl-8 text-center">

        <div>
          <p class="mdm-text">
            {% blocktranslate trimmed %}
              Wir haben einen Anmeldecode an
              {{ email }} gesendet.
            {% endblocktranslate %}
          </p>

          <p class="mdm-text">
            {% blocktranslate trimmed %}
              Der Code ist 5 Minuten gültig.
            {% endblocktranslate %}
          </p>
        </div>

        <div class="mdm-form-container mt-0">

          <form method="post" action="{% url "mdm:userflow:profiles:confirm_login_code" %}">
            {% csrf_token %}

            <div class="pt-2 d-flex justify-content-center">
              <div class="mdm-code-input-wrapper">
                <input
                  id="id_code"
                  name="code"
                  class="mdm-code-input-real"
                  type="text"
                  inputmode="text"
                  autocomplete="one-time-code"
                  maxlength="6"
                  required
                />
                <div class="mdm-code-boxes" aria-hidden="true">
                  <span class="mdm-code-box"><span class="mdm-code-box-char">A</span></span>
                  <span class="mdm-code-box"><span class="mdm-code-box-char">A</span></span>
                  <span class="mdm-code-box"><span class="mdm-code-box-char">A</span></span>
                  <span class="mdm-code-box"><span class="mdm-code-box-char">A</span></span>
                  <span class="mdm-code-box"><span class="mdm-code-box-char">A</span></span>
                  <span class="mdm-code-box"><span class="mdm-code-box-char">A</span></span>
                </div>
              </div>
            </div>

            <div class="mdm-btn-container mt-3">
              <button class="btn mdm-color-btn-v3 ps-5 pe-5" type="submit">
                {% translate "Anmelden" %}
              </button>
            </div>

          </form>
        </div>

        <div class="mdm-container-bottom">
          <a type="button" class="mdm-text-muted" data-bs-toggle="modal" data-bs-target="#infoModal">
            {% translate "Ich habe keinen Code erhalten" %}
          </a>
        </div>

      </div>
    </div>
  </div>
  {% include "userflow/modals/modal_login_code.html" %}

{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'profiles/js/code-input.js' %}"></script>
    <script src="{% static 'mydigitalmeal/js/message-utils.js' %}"></script>
{% endblock extra_js %}
