{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
  Passwort zurücksetzen
{% endblock head_title %}
{% block content %}
  <h1>Passwort zurücksetzen</h1>
  <p>
    Wir haben Ihnen eine E-Mail geschickt zum Zurücksetzen des Passworts geschickt.
    Wenn die E-Mail nicht in Ihrem Posteingang erscheint, überprüfen Sie bitte Ihren Spam-Ordner.
    Sollte die E-Mail auch nach längerer Zeit nicht ankommen, kontaktieren Sie uns bitte unter
    <a href="mailto:kontakt@digital-meal.ch">kontakt@digital-meal.ch</a>.
  </p>

{% endblock content %}
