{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Digital Meal | Onlinetool{% endblock %}</title>
  <meta name="description" content="This is the Digital Meal website.">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/img/DigitalMeal_favicon.svg' %}">

  {% block site_css %}
  <link rel="stylesheet" href="{% static 'website/css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'tool/css/tool.css' %}">
  {% endblock site_css %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body>
<div id="dm-body" class="d-flex flex-column">

  {% block header %}
  <div id="header" class="bg-blue">
    <div class="container">
      <div class="row">
        {% block header_content %}
        {% include "tool/components/top-nav-tool.html" %}
        {% endblock header_content %}
      </div>
    </div>
  </div>
  {% endblock header %}

  {% block user_nav %}
  {% include "tool/components/user-nav-tool.html" %}
  {% endblock user_nav %}

  <div id="dm-content">
    <div class="container">

      <div id="main" class="row main-content-tool justify-content-center">
        {% if messages %}
        {% include "website/components/messages.html" %}
        {% endif %}

        {% block main_content %}
        <div>Dieser Bereich wird gerade überarbeitet.</div>
        {% endblock main_content %}
      </div>

    </div>
  </div>

  <div id="footer" class="bg-blue">
    <div class="container">
      <div class="row">
        {% block footer_content %}
        {% include "website/components/footer.html" %}
        {% endblock footer_content %}
      </div>
    </div>
  </div>

</div>

{% block site_js %}
<script src="{% static 'website/js/jquery/jquery-3.6.2.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
{% endblock site_js %}

</body>

</html>
