{% extends "website/base.html" %}

{% block title %}Profilübersicht{% endblock title %}

{% block main_content %}
<div class="ff-non-serif">
  <h1>Nutzerprofil von {{ teacher }}</h1>

  <table>
    <tbody>
    <tr>
      <td class="pe-3 pb-2 fw-bold">Vorname:</td>
      <td class="pb-2">{{ teacher.first_name }}</td>
    </tr>
    <tr>
      <td class="pe-3 pb-2 fw-bold">Nachname:</td>
      <td class="pb-2">{{ teacher.name }}</td>
    </tr>
    <tr>
      <td class="pe-3 pb-2 fw-bold">E-Mail Adresse:</td>
      <td class="pb-2">{{ teacher.user.email }}</td>
    </tr>
    <tr>
      <td class="pe-3 pb-2 fw-bold">Kanton:</td>
      <td class="pb-2">{{ teacher.get_canton_display }}</td>
    </tr>
    <tr>
      <td class="pe-3 pb-2 fw-bold">Schule:</td>
      <td class="pb-2">{{ teacher.school_name }}</td>
    </tr>
    </tbody>
  </table>

  <div class="pt-4">
    <a href="{% url 'account_email' %}" class="button">E-Mail Adresse ändern</a>
    <a href="{% url 'account_change_password' %}" class="button">Passwort ändern</a>
  </div>

</div>
{% endblock main_content %}
