<div class="row mb-3">
  <div class="col-md-4">
    <div class="stat-box">
      <div class="stat-label">Total Classrooms</div>
      <div class="stat-value">{{ total_classrooms }}</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="stat-box">
      <div class="stat-label">Active Classrooms</div>
      <div class="stat-value text-success">{{ active_classrooms }}</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="stat-box">
      <div class="stat-label">Expired Classrooms</div>
      <div class="stat-value text-muted">{{ expired_classrooms }}</div>
    </div>
  </div>
</div>

<h5 class="mt-5">By Module</h5>
<div>
  <table data-classes="table table-sm table-striped"
         data-toggle="table"
         data-sortable="true">
    <thead>
      <tr>
        <th scope="col" data-field="module" data-sortable="true">Module</th>
        <th scope="col" data-field="total" data-sortable="true">Total</th>
        <th scope="col" data-field="active" data-sortable="true">Active</th>
        <th scope="col" data-field="expired" data-sortable="true">Expired</th>
      </tr>
    </thead>
    <tbody>

    {% for module in classrooms_by_module %}
      <tr>
        <td>{{ module.base_module__name }}</td>
        <td>{{ module.count }}</td>
        <td>{{ module.n_active }}</td>
        <td>{{ module.n_expired }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>No Modules Found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<h5 class="mt-5">By Submodule</h5>
<div>
  <table data-classes="table table-sm table-striped"
         data-toggle="table"
         data-sortable="true">
    <thead>
      <tr>
        <th scope="col" data-field="submodule" data-sortable="true">Submodule</th>
        <th scope="col" data-field="total" data-sortable="true">Total</th>
        <th scope="col" data-field="active" data-sortable="true">Active</th>
        <th scope="col" data-field="expired" data-sortable="true">Expired</th>
      </tr>
    </thead>
    <tbody>

    {% for submodule in classrooms_by_submodule %}
      <tr>
        <td>{{ submodule.name }}</td>
        <td>{{ submodule.count }}</td>
        <td>{{ submodule.n_active }}</td>
        <td>{{ submodule.n_expired }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>No Modules Found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="pb-1"><small class="text-muted">Note: One classroom can have multiple submodules.</small></div>
</div>

<h5 class="mt-5">Recently Created</h5>
<div>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Class ID</th>
        <th scope="col">Module</th>
        <th scope="col">Class Name</th>
        <th scope="col">Teacher</th>
      </tr>
    </thead>
    <tbody>

    {% for classroom in recent_classrooms %}
      <tr>
        <td>{{ classroom.date_created|date:"Y-m-d" }}</td>
        <td>{{ classroom.url_id }}</td>
        <td>{{ classroom.base_module.name }}</td>
        <td>{{ classroom.name }}</td>
        <td>{{ classroom.owner.email }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>No Classrooms Found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<div id="accordionLevel" class="mt-5">
  <div>
    <h5>
      <a type="button" class="tgl-btn" data-bs-toggle="collapse" data-bs-target="#collapseLevel" aria-expanded="false" aria-controls="collapseLevel">
        <span class="triangle">▶</span>
        By Level
      </a>
    </h5>
    <div id="collapseLevel" class="accordion-collapse collapse" data-bs-parent="#accordionLevel">
      <div>
        <table data-classes="table table-sm table-striped"
               data-toggle="table"
               data-sortable="true">
          <thead>
            <tr>
              <th scope="col" data-field="level" data-sortable="true">Level</th>
              <th scope="col" data-field="total" data-sortable="true">Total</th>
              <th scope="col" data-field="active" data-sortable="true">Active</th>
              <th scope="col" data-field="expired" data-sortable="true">Expired</th>
            </tr>
          </thead>
          <tbody>

          {% for level in classrooms_by_level %}
            <tr>
              <td>{{ level.school_level|title }}</td>
              <td>{{ level.count }}</td>
              <td>{{ level.n_active }}</td>
              <td>{{ level.n_expired }}</td>
            </tr>
          {% empty %}
            <tr>
              <td>No Modules Found</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="accordionSubject" class="mt-5">
  <div>
    <h5>
      <a type="button" class="tgl-btn" data-bs-toggle="collapse" data-bs-target="#collapseSubject" aria-expanded="false" aria-controls="collapseSubject">
        <span class="triangle">▶</span>
        By Subject
      </a>
    </h5>
    <div id="collapseSubject" class="accordion-collapse collapse" data-bs-parent="#accordionSubject">
      <div>
        <table data-classes="table table-sm table-striped"
               data-toggle="table"
               data-sortable="true">
          <thead>
            <tr>
              <th scope="col" data-field="subject" data-sortable="true">Subject</th>
              <th scope="col" data-field="total" data-sortable="true">Total</th>
              <th scope="col" data-field="active" data-sortable="true">Active</th>
              <th scope="col" data-field="expired" data-sortable="true">Expired</th>
            </tr>
          </thead>
          <tbody>

          {% for subject in classrooms_by_subject %}
            <tr>
              <td>{{ subject.subject|title }}</td>
              <td>{{ subject.count }}</td>
              <td>{{ subject.n_active }}</td>
              <td>{{ subject.n_expired }}</td>
            </tr>
          {% empty %}
            <tr>
              <td>No Modules Found</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="accordionFormat" class="mt-5">
  <div>
    <h5>
      <a type="button" class="tgl-btn" data-bs-toggle="collapse" data-bs-target="#collapseFormat" aria-expanded="false" aria-controls="collapseFormat">
        <span class="triangle">▶</span>
        By Instruction Format
      </a>
    </h5>
    <div id="collapseFormat" class="accordion-collapse collapse" data-bs-parent="#accordionFormat">
      <div>
        <table data-classes="table table-sm table-striped"
               data-toggle="table"
               data-sortable="true">
          <thead>
            <tr>
              <th scope="col" data-field="format" data-sortable="true">Format</th>
              <th scope="col" data-field="total" data-sortable="true">Total</th>
              <th scope="col" data-field="active" data-sortable="true">Active</th>
              <th scope="col" data-field="expired" data-sortable="true">Expired</th>
            </tr>
          </thead>
          <tbody>

          {% for format in classrooms_by_format %}
            <tr>
              <td>{{ format.instruction_format|title }}</td>
              <td>{{ format.count }}</td>
              <td>{{ format.n_active }}</td>
              <td>{{ format.n_expired }}</td>
            </tr>
          {% empty %}
            <tr>
              <td>No Modules Found</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="pb-1 mt-2"><small class="text-muted">Note: Classes by staff accounts are excluded.</small></div>
