{% extends "userflow/base.html" %}
{% load i18n %}

{% block navbar_top %}
  {% include "userflow/partials/header_large.html" %}
{% endblock navbar_top %}

{% block page_title %}{% translate "Deine Reports" %}{% endblock page_title %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-10 col-xl-8 text-center">

{#        <div>#}
{#          <a class="btn mdm-color-btn-v1 fs-4" type="button" href="{% url 'mdm:userflow:reset' %}?method=ddm">{% translate "neuen TikTok Report generieren (Datenspende)" %}</a>#}
{#        </div>#}

        <div>
          <a class="btn mdm-color-btn-v2 fs-4 ps-5 pe-5" type="button" href="{% url 'mdm:userflow:reset' %}?method=port-api">
            {% translate "neuen TikTok Report generieren" %}
          </a>
        </div>

        {% if requests %}
          <div class="mdm-text mb-3 base-info-container">
            <h2 class="mt-5">{% translate "Deine Reports" %}</h2>
          </div>

          <div class="row justify-content-center">
            {% for request in requests %}
              {% if request.status == "SUCCESS" %}
              <div class="col-12 col-sm-6 prev-report-card-wrapper">
                <a class="text-black" href="{% url 'mdm:userflow:resume' request.public_id %}">
                  <div class="prev-report-card {% cycle 'card-hover-1' 'card-hover-2' 'card-hover-3' 'card-hover-4' %}">
                    <div class="fw-bold">{% translate "TikTok Report" %}</div>
                    <div>{% translate "vom" %} {{ request.requested_at }}</div>
                  </div>
                </a>
              </div>
              {% endif %}
            {% endfor %}
          </div>

        {% endif %}

        <div class="mb-5">
          <div class="mdm-text mb-3 base-info-container">
            <h2 class="mt-5">{% translate "Dein Account" %}</h2>
          </div>
          <p class="mdm-text mb-0 fs-4 text-white-50">Du bist aktuell als {{ user.get_username }} angemeldet</p>
          <a class="btn mdm-discreet-btn" href="{% url 'mdm:userflow:profiles:logout' %}">{% translate "Abmelden" %}</a>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
