{% load static %}

<!-- TODO: Wrap footer when small. -->

<div>
  <div class="d-flex justify-content-between align-items-stretch footer-container">

    <div>
      <img alt="UZH Brand" src="{% static 'digital_meal/img/UZH_logo.svg' %}" height="150px">
      <!-- TODO: Add Citizen Science Logo. -->
    </div>

    <div class="text-small dm-footer-linksection">
      <!-- TODO: Add additional links. -->
      <p><b>Digital Meal</b></p>
      <p>▪ <a href="/forschende">für Forschende</a></p>
      <p>▪ <a href="/about">über uns</a></p>
    </div>

    <div class="text-small">
      <b>Kontakt</b><br>
      Digital Meal, Abteilung Mediennutzung & Medienwirkung<br>
      Institut für Kommunikationswissenschaft und Medienforschung<br>
      Universität Zürich<br>
      Andreasstrasse 15<br>
      CH-8050 Zürich
    </div>

  </div>
</div>
