bokeh==3.8.1  # https://github.com/bokeh/bokeh
Django==4.2.26  # https://github.com/django/django
django-allauth==65.13.0  # https://github.com/pennersr/django-allauth
django-ckeditor-5==0.2.18  # https://github.com/hvlads/django-ckeditor-5
django-cookie-consent==0.9.0  # https://github.com/bmihelac/django-cookie-consent
django-ddm==2.1.7  # https://github.com/uzh/ddm
django-htmx==1.26.0  # https://github.com/adamchainz/django-htmx
django-qr-code==4.2.0  # https://github.com/dprog-philippe-docourt/django-qr-code
langdetect~=1.0.9  # https://github.com/Mimino666/langdetect
mysqlclient==2.2.7  # https://github.com/PyMySQL/mysqlclient
numpy==2.3.5  # https://github.com/numpy/numpy
pandas==2.3.3  # https://github.com/pandas-dev/pandas
python-dateutil~=2.9.0.post0  # https://github.com/dateutil/dateutil
python-dotenv==1.2.1  # https://github.com/theskumar/python-dotenv
requests==2.32.5  # https://github.com/psf/requests
spacy~=3.8.11  # https://github.com/explosion/spaCy
wagtail==7.0.3  # https://github.com/wagtail/wagtail
wagtailvideos~=7.1.0  # https://github.com/neon-jungle/wagtailvideos
wordcloud~=1.9.4  # https://github.com/amueller/word_cloud
