#report {
    text-align: center;
    overflow-y: scroll;
    height: 100vh;
}

#report h1,
#report h2,
#report h3,
#report h4,
#report h5,
#report h6 {
    margin-bottom: 30px;
}

#report h1 {
    font-size: 3.5rem;
}

@media screen and (max-width: 576px) {
    #report h1 {
        font-size: 10vw !important;
    }
}

#report h2 {
    font-size: 2.5rem;
}

#report p {
    font-family: Open Sans;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#report .report-section {
    padding: 100px 40px 100px;
    scroll-snap-align: start;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}

#report .report-content {
    width: 1200px;
    max-width: 100%;
    flex-wrap: nowrap;
}

@media screen and (max-width: 992px) {
    #report .report-content {
        flex-wrap: wrap;
    }
}

#report .font-size-highlight {
    font-size: 1.8rem;
    line-height: 3rem;
}

.flash-yellow-background {
    background-color: #ffda3c;
}
.section-green-background {
    background-color: #5cdb95;
}


.custom-shape-divider-bottom-1691418846 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1691418846 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1691418846 .shape-fill {
    fill: #ffda3c;
}

.detailed-use-plot {
    overflow: visible;
}

@media screen and (max-width: 992px) {
    .detailed-use-plot {
        overflow: auto;
    }
}

.fav-video-teaser {
    overflow: visible;
}

@media screen and (max-width: 992px) {
    .fav-video-teaser {
        overflow: hidden;
    }
}

.searchbar-font {
    font-size:inherit;
}

@media screen and (max-width: 992px) {
    .searchbar-font {
        font-size: 2vw !important;
    }
}

.toggle-btn {
    width: 100%;
    border: 2px solid #465ad9;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.toggle-btn:hover {
    background: transparent !important;
}

.toggle-btn-active {
    background: #465ad9;
    color: white;
}

.toggle-btn-active:hover {
    background: #465ad9 !important;
}

.podium-col {
    height: 400px;
}

.podium-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.blue-podium {
    background: linear-gradient(0deg, rgb(9, 65, 102) 0%, rgb(62, 125, 232) 62%, rgb(62, 173, 232) 100%);
    font-size: 3rem;
    color: white;
}

.subs-bullet-point {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.subs-list-prefix {
    width: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.report-explanation {
    font-size: 0.75rem;
    font-style: italic;
}
