{% load static %}

<div class="instruction-page mb-4" data-page="3">

  <h1>Schritt 3/4: Datenexport anfordern</h1>

  {# App instructions #}
  <div class="instruction-section instruction-section-app" data-instruction-version="app">

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Klicken Sie auf «Daten anfordern».</p>
        <p>Im Normalfall dauert es ca. 10 Sekunden, bis der Download bereit ist. </p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_10.png' %}"
             alt="Screenshot Daten anfordern"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Sobald der Download bereit ist, sehen Sie einen «Herunterladen»-Button. Klicken Sie darauf.</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_13.png' %}"
             alt="Screenshot Herunterladen Button"
             class="instruction-img"
        />
      </div>

      <div class="col-12 instruction-text-col">
        <div class="instruction-collapsible">
          <a class="instruction-toggle"
             data-bs-toggle="collapse"
             href="#collapseStep3a"
             role="button"
             aria-expanded="false"
             aria-controls="collapseStep3a"
          >
            Was tun, wenn es lange dauert?
          </a>
          <div id="collapseStep3a" class="collapse row instruction-collapsible-body">
            <div class="col-12 col-md-4">
              <p>
                Wenn Sie nicht direkt einen Button zum Herunterladen sehen,
                wechseln Sie einige Male zwischen den «Daten anfordern» und «Daten herunterladen» Tabs
                hin und her.
              </p>
              <p>
                Ist der Download dann noch immer nicht bereit, warten Sie kurz und versuchen es noch einmal.
              </p>
            </div>

            <div class="col-12 col-md-8">
              <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_11.png' %}"
                   alt="Screenshot Tab Switch 1"
                   class="instruction-img"
              />
              <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_12.png' %}"
                   alt="Screenshot Tab Switch 2"
                   class="instruction-img"
              />
            </div>

            {# TODO: Hinweis, dass man auch einen Reminder zum später fortsetzen erhalten kann. #}

          </div>
        </div>
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>
          Bevor Sie die Daten herunterladen können, müssen Sie Ihren Account verifizieren.
        </p>
        <p>
          Dafür sendet TikTok einen Code an die E-Mail-Adresse/Apple ID,
          mit welcher Sie sich bei TikTok registriert haben.
        </p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_14.png' %}"
             alt="Screenshot Authentifizierung"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>
          Dann wird die Datei automatisch heruntergeladen.
        </p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_15.png' %}"
             alt="Screenshot Datei herunterladen"
             class="instruction-img"
        />
      </div>
    </div>
  </div>

  {# Browser instructions #}
  <div class="instruction-section instruction-section-browser" data-instruction-version="browser">

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Klicken Sie auf «Daten anfordern».</p>
        <p>Im Normalfall dauert es ca. 10 Sekunden, bis der Download bereit ist. </p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_07.png' %}"
             alt="Screenshot Daten anfordern"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Sobald der Download bereit ist, sehen Sie einen «Herunterladen»-Button. Klicken Sie darauf.</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_08c.png' %}"
             alt="Screenshot Herunterladen Button"
             class="instruction-img"
        />
      </div>

      <div class="col-12 instruction-text-col">
        <div class="instruction-collapsible">
          <a class="instruction-toggle"
             data-bs-toggle="collapse"
             href="#collapseStep3a"
             role="button"
             aria-expanded="false"
             aria-controls="collapseStep3a"
          >
            Was tun, wenn es lange dauert?
          </a>
          <div id="collapseStep3a" class="collapse row instruction-collapsible-body">
            <div class="col-12 col-md-4">
              <p>
                Wenn Sie nicht direkt einen Button zum Herunterladen sehen,
                wechseln Sie einige Male zwischen den «Daten anfordern» und «Daten herunterladen» Tabs
                hin und her.
              </p>
              <p>
                Ist der Download dann noch immer nicht bereit, warten Sie kurz und versuchen es noch einmal.
              </p>
            </div>

            <div class="col-12 col-md-8">
              <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_08a.png' %}"
                   alt="Screenshot Tab Switch 1"
                   class="instruction-img"
              />
              <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_08b.png' %}"
                   alt="Screenshot Tab Switch 2"
                   class="instruction-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>
          Bevor Sie die Daten herunterladen können, müssen Sie Ihren Account verifizieren.
        </p>
        <p>
          Klicken Sie dafür auf «Code senden».
        </p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_09.png' %}"
             alt="Screenshot Authentifizierung"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>
          TikTok sendet Ihnen einen Code an die E-Mail-Adresse/Apple ID,
          mit welcher Sie sich bei TikTok registriert haben.
        </p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_10.png' %}"
             alt="Screenshot Datei herunterladen"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>
          Dann wird die Datei automatisch heruntergeladen.
        </p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_11.png' %}"
             alt="Screenshot Datei herunterladen"
             class="instruction-img"
        />
      </div>
    </div>

  </div>

  {% include "studies/datadonation/instructions/navigation.html" %}

</div>
