{% load static %}

<div class="instruction-page mb-4" data-page="2">

  <h1>Schritt 2/4: Datenexport Konfigurieren</h1>

  {# App instructions #}
  <div class="instruction-section instruction-section-app" data-instruction-version="app">

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Klicken Sie auf «Deine Daten herunterladen».</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_05.png' %}"
             alt="Screenshot Deine Daten herunterladen"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p><b>Wichtig:</b> Wählen Sie als Dateiformat «JSON» aus.</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_06.png' %}"
             alt="Screenshot Dateiformat «JSON» - Schritt 1"
             class="instruction-img"
        />
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_07.png' %}"
             alt="Screenshot Dateiformat «JSON» - Schritt 2"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Klicken Sie beim Punkt «Wähle Daten zum Herunterladen aus» auf «Alle auswählen».</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_08.png' %}"
             alt="Screenshot Alle auswählen"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Vergewissern Sie sich, dass Sie «JSON» als Dateiformat ausgewählt haben.</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/smartphone/DD_DLUL_09.png' %}"
             alt="Screenshot JSON ausgewählt?"
             class="instruction-img"
        />
      </div>
    </div>

  </div>

  {# Browser instructions #}
  <div class="instruction-section instruction-section-browser" data-instruction-version="browser">

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Sie sollten nun eine Seite sehen, die «TikTok-Daten herunterladen» heisst und so aussieht:</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_04.png' %}"
             alt="Screenshot Deine Daten herunterladen"
             class="instruction-img"
        />
      </div>

      <div class="instruction-collapsible">
        <a class="instruction-toggle"
           data-bs-toggle="collapse"
           href="#collapseStep2b"
           role="button"
           aria-expanded="false"
           aria-controls="collapseStep2b"
        >
          Was tun, wenn ich auf einer anderen Seite gelandet bin?
        </a>
        <div id="collapseStep2b" class="collapse instruction-collapsible-body">
          <div class="row pt-3">
            <div class="col-12 col-md-4">
              Klicken Sie in der Menüleiste am Bildschirmrand auf «Profil».
            </div>
            <div class="col-12 col-md-8">
              <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_01.png' %}"
                   alt="Screenshot Profil"
                   class="instruction-img"
              />
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-12 col-md-4">
              Klicken Sie oben auf das Zahnrad.
            </div>
            <div class="col-12 col-md-8">
              <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_02.png' %}"
                   alt="Screenshot Zahnrad"
                   class="instruction-img"
              />
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-12 col-md-4">
              Klicken Sie im Menü auf «Deine Daten herunterladen».
            </div>
            <div class="col-12 col-md-8">
              <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_03.png' %}"
                   alt="Screenshot Deine Daten herunterladen"
                   class="instruction-img"
              />
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-12 col-md-4">
              Nun sollten Sie eine Seite sehen, die «TikTok-Daten herunterladen» heisst und so aussieht:
            </div>
            <div class="col-12 col-md-8">
              <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_04.png' %}"
                   alt="Screenshot Deine Daten herunterladen"
                   class="instruction-img"
              />
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p><b>Wichtig:</b> Wählen Sie als Dateiformat «JSON» aus.</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_05.png' %}"
             alt="Screenshot JSON Dateiformat"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Klicken Sie beim Punkt «Wähle Daten zum Herunterladen aus» auf «Alle auswählen».</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_06a.png' %}"
             alt="Screenshot Daten herunterladen - alle auswählen"
             class="instruction-img"
        />
      </div>
    </div>

    <div class="row instruction-row">
      <div class="col-12 col-md-6 instruction-text-col">
        <p>Vergewissern Sie sich, dass Sie «JSON» als Dateiformat ausgewählt haben.</p>
      </div>
      <div class="col-12 col-md-6 instruction-img-col">
        <img src="{% static 'studies/img/instructions/browser/DD_DLUL_browser_05b.png' %}"
             alt="Screenshot JSON ausgewählt"
             class="instruction-img"
        />
      </div>
    </div>

  </div>

  {% include "studies/datadonation/instructions/navigation.html" %}

</div>
