{% extends "wagtailadmin/admin_base.html" %}
{% load static %}

{% block branding_title %}Digital Meal CMS{% endblock branding_title %}

{% block branding_favicon %}
  {# Favicon #}
  <link rel="icon" href="{% static 'website/img/favicons/dm-edu_favicon.svg' %}" type="image/svg+xml" />
  <link rel="icon" href="{% static 'website/img/favicons/dm-edu_favicon_512x512.png' %}"  type="image/png" sizes="512x512" />
  <link rel="icon" href="{% static 'website/img/favicons/dm-edu_favicon_192x192.png' %}"  type="image/png" sizes="192x192" />
  <link rel="icon" href="{% static 'website/img/favicons/dm-edu_favicon_32x32.png' %}"  type="image/png" sizes="32x32" />

{% endblock branding_favicon %}
