{% extends "userflow/base.html" %}
{% load i18n static %}

{% block extra_head %}
  {% include "mydigitalmeal/partials/_meta_private.html" %}
{% endblock extra_head %}

{% block page_title %}{% translate "My Digital Meal" %}{% endblock page_title %}

{% block navbar_top %}
  {% include "userflow/partials/header_large.html" %}
{% endblock navbar_top %}

{% block content %}
  <h1>{% translate "Ungültige Anfrage" %}</h1>
  <p>
    {% blocktranslate %}
      Die Seite konnte nicht geladen werden, weil die Anfrage fehlerhaft war.
      Das kann passieren, wenn ein Link veraltet ist oder ein Formular doppelt abgeschickt wurde.
    {% endblocktranslate %}
  </p>
  <p>
    <a href="{% url 'mdm:userflow:landing_page' %}">zur Startseite</a>
  </p>
{% endblock content %}
