{% extends "userflow/base.html" %}
{% load i18n static %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}{% translate "TikTok-Daten verknüpfen" %}{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap-icons.css' %}" />
  <link href="{% static 'ddm_core/css/fonts.css' %}" rel="stylesheet" />
  <link href="{% static 'ddm_participation/css/public-base.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'mydigitalmeal/css/base.css' %}" />
{% endblock css %}

{% block content %}
  <div class="container">
    <div id="uapp"
         class="container text-black ps-0 pe-0"
         data-uploader-configs-as-string='{{ uploader_configs }}'
         data-action-url='{{ request.build_absolute_uri }}'
         data-exception-url='{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url "ddm_logging:exceptions_api" project_url_id %}'
         data-language='{{ LANGUAGE_CODE|slice:"0:2" }}'
         data-csrf-token="{{ csrf_token }}"
         data-custom-translations="{{ custom_translations }}"
    >
      {# djlint:off #}
      <uapp></uapp>
      {# djlint:on #}
    </div>
    {% render_bundle "ddm_uploader_frontend" config="DDM_UPLOADER" %}

  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'datadonation/js/ddm_utils.js' %}"></script>
{% endblock extra_js %}
