{% extends "userflow/base.html" %}
{% load i18n static %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}{% translate "TikTok-Daten verknüpfen" %}{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap-icons.css' %}" />
  <link href="{% static 'ddm_core/css/fonts.css' %}" rel="stylesheet" />
  <link href="{% static 'ddm_participation/css/public-base.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'mydigitalmeal/css/mydigitalmeal.css' %}" />
{% endblock css %}

{% block content %}
  <div class="container">

    {{ default_instruction|json_script:"default-instruction-version" }}

    <div class="instruction-wrapper">
      {% include "studies/datadonation/instructions/step_1_login.html" %}

      {% include "studies/datadonation/instructions/step_2_export_configuration.html" %}

      {% include "studies/datadonation/instructions/step_3_request_export.html" %}

      <div class="instruction-page" data-page="4">
        {% include "studies/datadonation/instructions/step_4_upload.html" %}

        <div id="uapp"
             class="container text-black ps-0 pe-0{% if portability_view %} ddm-portability{% endif %}"
             data-uploader-configs-as-string='{{ uploader_configs }}'
             data-action-url='{{ request.build_absolute_uri }}'
             data-exception-url='{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url "ddm_logging:exceptions_api" project_url_id %}'
             data-language='{{ LANGUAGE_CODE|slice:"0:2" }}'
             data-csrf-token="{{ csrf_token }}"
             data-custom-translations="{{ custom_translations }}"
        >
          {# djlint:off #}
          <uapp></uapp>
          {# djlint:on #}
        </div>

        {% render_bundle "ddm_uploader_frontend" config="DDM_UPLOADER" %}

      </div>

      {% include "studies/datadonation/instructions/navigation.html" %}

    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'datadonation/js/ddm-utils.js' %}"></script>
  <script src="{% static 'studies/js/instruction_navigation.js' %}"></script>
{% endblock extra_js %}
