{% extends "userflow/base.html" %}
{% load i18n static %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}{% translate "TikTok-Daten verknüpfen" %}{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap-icons.css' %}" />
  <link href="{% static 'ddm_core/css/fonts.css' %}" rel="stylesheet" />
  <link href="{% static 'ddm_participation/css/public-base.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'mydigitalmeal/css/mydigitalmeal.css' %}" />
  {% if project.has_custom_theme %}
    <link rel="stylesheet" href="{% url 'ddm_participation:theme_css' project.slug %}?v={{ project.theme_version }}" />
  {% endif %}
{% endblock css %}

{% block content %}
  <div class="container">

    {{ default_instruction|json_script:"default-instruction-version" }}
    {{ seconds_until_reminder|json_script:"seconds-until-reminder" }}
    {{ reminder_registration_endpoint|json_script:"reminder-registration-endpoint" }}

    <div class="instruction-wrapper">

      <div>
        <div
          id="uapp"
          class="container text-black ps-0 pe-0"
          data-action-url='{{ request.build_absolute_uri }}'
          data-exception-url='{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url "ddm_logging:exceptions_api" project_url_id %}'
          data-language='{{ LANGUAGE_CODE|slice:"0:2" }}'
          data-csrf-token="{{ csrf_token }}"
        >
          {{ uploader_configs|json_script:"config-data" }}
          {{ custom_translations|json_script:"custom-translations" }}
          {# djlint:off #}
          <uapp></uapp>
          {# djlint:on #}
        </div>

        {% render_bundle "ddm_uploader_frontend" config="DDM_UPLOADER" %}

      </div>

      <div class="mb-3 device-links text-center">
        <a href="#" class="instruction-device-button instruction-device-link" data-instruction-version="app">zur Anleitung mit TikTok-App</a>
        <a href="#" class="instruction-device-button instruction-device-link" data-instruction-version="browser">zur Browser-Anleitung</a>
      </div>

    </div>
  </div>

  {% include "studies/modals/modal_continuation_info.html" %}

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'studies/js/ddm-utils.js' %}"></script>
  <script src="{% static 'studies/js/instruction_navigation_ddm-only.js' %}"></script>
{% endblock extra_js %}
