{% with "1234"|make_list as bg_choices %}

<div class="mdm-cta mdm-cta-bg-{{ bg_choices|random }}">
  <div class=" container text-center mdm-cta-container">

    <p class="mdm-info-lead">
      Möchtest du My Digital Meal
      ausprobieren und mehr über deine
      TikTok-Nutzung erfahren?
    </p>

    <p class="mdm-info-lead">
      Dann nutze unser Tool, um deinen
      personalisierten Report zu generieren,
      basierend auf deinen TikTok Daten.
      Wir zeigen dir wie’s geht!
    </p>

    <div>
      <a href="{% url 'mdm:userflow:landing_page' %}" class="btn mdm-color-btn-v2"><span class="btn-text">Los geht's</span></a>
    </div>
  </div>
</div>

{% endwith %}
