{% with "1234"|make_list as bg_choices %}

<div class="mdm-cta mdm-cta-bg-{{ bg_choices|random }}">
  <div class=" container text-center mdm-cta-container">

    <p class="mdm-info-lead text-center">
      Möchtest du mehr über deine
      TikTok-Nutzung erfahren?
    </p>

    <p class="mdm-info-lead text-center">
      Dann nutze unser Tool, um deinen
      personalisierten Report zu generieren!
    </p>

    <div>
      <a href="{% url 'mdm:userflow:landing_page' %}" class="btn mdm-dark-btn"><span class="btn-text">Los geht's</span></a>
    </div>
  </div>
</div>

{% endwith %}
