@import url("colors.css");
@import url("fonts.css");

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: var(--color-main-grey);
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    color: var(--color-font-main);
}

a:hover {
    color: var(--color-font-main);
    filter: brightness(70%);
}

/* Container Classes */
.mdm-container-landing-preview {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100px;
    background: var(--color-accent-red);
    background: linear-gradient(
            108deg,var(--color-accent-red) 0%,
            var(--color-accent-pink) 55%,
            var(--color-accent-yellow) 100%
    );
}

.mdm-container-landing-bottom {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.mdm-form-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mdm-btn-container {
    margin-top: 1.5rem;
}

/* Text Classes */
.mdm-text-lead {
    font-size: 2rem;
    color: var(--color-font-main);
    font-family: Space Grotesk, sans-serif;
    margin-bottom: 2rem;
}

.mdm-text-main {
    font-size: 1.5rem;
    color: var(--color-font-main);
    font-family: Space Grotesk, sans-serif;
    margin-bottom: 2rem;
}

.mdm-text-muted {
    font-size: 1.5rem;
    color: var(--color-font-muted);
    font-family: Space Grotesk, sans-serif;
}

.mdm-text-muted a {
    color: var(--color-font-muted);
}

/* Form Elements */

.mdm-text-input {
    background: var(--color-main-black);
    color: var(--color-font-main);
    border-radius: 7px;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mdm-text-input:focus {
    color: var(--color-font-main);
    background: var(--color-main-black);
    box-shadow: 0 0 0 .1rem var(--color-font-main);
}

.mdm-text-input::placeholder {
    color: var(--color-font-muted);
}

.mdm-text-input:focus::placeholder {
    color: var(--color-main-grey);
}

.mdm-code-input-wrapper {
    width: 450px;
    padding-left: 50px;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.mdm-code-input {
    font-family: monospace !important; /* TODO: Load specific font */
    color: var(--color-font-main);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.5rem;
    letter-spacing: 2.35rem;
    padding-left: 0.8rem;
    background-image: repeating-linear-gradient(
            90deg,
            #666 0px,
            #666 44px,
            transparent 44px,
            transparent 60px
    );
    background-size: 360px 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    caret-color: transparent;
    line-height: 1rem;
}

.mdm-code-input:focus {
    color: var(--color-font-main);
    background: var(--color-main-black);
    background-image: repeating-linear-gradient(
            90deg,
            #e5e5e7 0px,
            #e5e5e7 44px,
            transparent 44px,
            transparent 60px
    );
    background-size: 360px 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    box-shadow: none;
}

/* Button Classes */
.mdm-base-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10em;
    font-family: Space Grotesk, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-main-black);
    padding-left: 2rem;
    padding-right: 2rem;
    background: var(--color-accent-green);
    background: linear-gradient(
            108deg,var(--color-accent-green) 0%,
            var(--color-accent-yellow) 65%,
            var(--color-accent-pink) 100%
    );
    background-clip: padding-box;
}
.mdm-base-btn:hover {
    filter: brightness(70%);
    background: var(--color-accent-green);
    background: linear-gradient(
            108deg,var(--color-accent-green) 0%,
            var(--color-accent-yellow) 65%,
            var(--color-accent-pink) 100%
    );
}

.mdm-discreet-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10em;
    font-family: Space Grotesk, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-main-black);
    background: var(--color-accent-green);
    background-clip: padding-box;
}

.mdm-discreet-btn:hover {
    filter: brightness(70%);
    background: var(--color-accent-green);
}
/* Header */

.header-logo-large {
    width: 60%;
    max-width: 300px;
}

.header-logo-small {
    width: 25%;
    max-width: 200px;
}

/* Footer */
#footer-container {
    background: var(--color-main-black);
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.2rem;
}

.footer-logo {
    width: 30vw;
    max-width: 100%;
}

.footer-item {
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .footer-item {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .footer-logo {
        max-width: 250px;
    }
}

/* Modal */
.mdm-modal .modal-content {
    border-radius: 0;
    min-height: 35vh;
    font-family: Space Grotesk, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.mdm-modal .modal-dialog {
    padding-top: 120px;
}

.mdm-modal .modal-header {
    border-bottom: none;
}

.mdm-modal .btn-close-custom {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 6rem;
    line-height: 1;
    cursor: pointer;
    z-index: 1056;
}

.mdm-modal .btn-close-custom:hover {
    opacity: 1;
}

.modal-backdrop {
    opacity: .8 !important;
}

@media (min-width: 992px) {
    .mdm-modal .btn-close-custom {
        font-size: 12rem;
    }
}

/* Utilities */

.mdm-w-75 {
    width: 100%;
}

@media (min-width: 992px) {
    .mdm-w-75 {
        width: 75%;
    }
}

/* DDM Customization */

.uploader-name {
    color: white;
}

.uploader-container {
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
}

.uploader-section .border-success {
    background: var(--color-accent-green);
    background: linear-gradient(
            108deg,var(--color-accent-green) 0%,
            var(--color-accent-yellow) 65%,
            var(--color-accent-pink) 100%
    );
    border: none !important;
}

.uploader-section .border-success .text-success {
    color: var(--color-main-black) !important;
}

.uploader-section .text-success {
    color: #0fab53 !important;
}

.uploader-section .selected-donate-agree.donation-btn {
    background: #0fab53 !important;
}

.uploader-section .selected-donate-disagree.donation-btn {
    background: var(--color-accent-pink) !important;
}

.flow-btn {
    color: var(--color-main-black) !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10em;
    font-family: Space Grotesk, sans-serif;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
    background: var(--color-font-muted);
    background-color: var(--color-font-muted);
}
.flow-btn:hover {
    color: var(--color-main-black) !important;
    filter: brightness(200%);
}

.custom-flow-btn {
    float: right;
}

#processingModal .custom-modal-content {
    background: var(--color-accent-red) !important;
    background: linear-gradient(
            108deg,var(--color-accent-red) 0%,
            var(--color-accent-pink) 55%,
            var(--color-accent-yellow) 100%
    ) !important;
    color: var(--color-main-black) !important;
}

#processingModal .dot-floating,
#processingModal .dot-floating::before,
#processingModal .dot-floating::after {
    background-color: var(--color-main-black);
    color: var(--color-main-black);
}

/* Report Overview */

.prev-report-card-wrapper a {
    text-decoration: none !important;
    color: var(--color-font-main) !important;
}

.prev-report-card-wrapper a:hover {
    filter: none !important;
}

.prev-report-card {
    background: var(--color-main-black);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    font-family: Space Grotesk, sans-serif;
    font-size: 1.2rem;
}

.prev-report-card:hover {
    background: var(--color-accent-red) !important;
    background: linear-gradient(
            108deg,var(--color-accent-red) 0%,
            var(--color-accent-pink) 55%,
            var(--color-accent-yellow) 100%
    ) !important;
    color: var(--color-main-black) !important;
}

/* Reports */

#reportCarousel .carousel-inner {
    padding: 60px;
    height: 50vh;
}

#reportCarousel .carousel-item {
    height: 100%;
}

.report-container {
    background: black;
    border-radius:20px;
}
