:root {
    --color-main-black: #000000;
    --color-main-grey: #212121;
    --color-font-main: #ffffff;
    --color-font-muted: #999999;

    --color-accent-green: #89f8c3;
    --color-accent-pink: #ff9bba;
    --color-accent-yellow: #ffe2a5;
    --color-accent-red: #ff4e22;
}
