@use '../abstracts/index' as *;

.mdm-base-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10em;
  font-family: var(--mdm-ff-buttons);
  font-size: 22px; //28px;
  line-height: 29px; //32px;
  font-weight: bold;
  color: var(--mdm-color-black);
  padding-top: 15px;
  padding-bottom: 15px;

  min-width: 220px;
  max-width: 85vw;
  background: var(--mdm-color-accent-green);
  background: linear-gradient(
                  108deg,var(--mdm-color-accent-green) 0%,
                  var(--mdm-color-accent-yellow) 65%,
                  var(--mdm-color-accent-pink) 100%
  );
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  @media (min-width: $bp-sm) {
    font-size: 37px;
    line-height: 48px;
    min-width: 270px;
  }

  &:hover {
    filter: brightness(70%);
    background: var(--mdm-color-accent-green);
    background: linear-gradient(
                    108deg,var(--mdm-color-accent-green) 0%,
                    var(--mdm-color-accent-yellow) 65%,
                    var(--mdm-color-accent-pink) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    color: black;
  }

}

.mdm-color-btn-v1 {
  @extend .mdm-base-btn;
  background-image: url("../img/backgrounds/mdm_bg_1.svg");

  &:hover {
    background-image: url("../img/backgrounds/mdm_bg_1.svg");
  }
}

.mdm-color-btn-v2 {
  @extend .mdm-base-btn;
  background-image: url("../img/backgrounds/mdm_bg_2.svg");

  &:hover {
    background-image: url("../img/backgrounds/mdm_bg_2.svg");
  }
}

.mdm-color-btn-v3 {
  @extend .mdm-base-btn;
  background-image: url("../img/backgrounds/mdm_bg_3.svg");

  &:hover {
    background-image: url("../img/backgrounds/mdm_bg_3.svg");
  }
}

.mdm-color-btn-v4 {
  @extend .mdm-base-btn;
  background-image: url("../img/backgrounds/mdm_bg_4.svg");

  &:hover {
    background-image: url("../img/backgrounds/mdm_bg_4.svg");
  }
}

.mdm-discreet-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10em;
  font-family: var(--mdm-ff-buttons);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mdm-color-black);
  background: var(--mdm-color-accent-green);
  background-clip: padding-box;

  &:hover {
    filter: brightness(70%);
    background: var(--mdm-color-accent-green);
  }
}

.mdm-dark-btn {
  @extend .mdm-base-btn;
  background: var(--mdm-body-bg-color) !important;
  color: var(--mdm-color-white);
}

.mdm-tiktok-connect-button {
  max-width: 90%;
  width: 950px;
}

.mdm-header-btn {
  font-family: var(--mdm-ff-headers-info);
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  padding: 1rem 2.25rem;
  min-width: 201px !important;
}

.mdm-login-btn {
  font-size: 2rem;
}
