@use '../abstracts/index' as *;

.mdm-text-input {
  background: var(--mdm-color-black);
  color: var(--mdm-font-color-main);
  border-radius: 12px;
  font-size: 22px;
  line-height: 29px;

  text-align: center;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:focus {
    color: var(--mdm-font-color-main);
    background: var(--mdm-color-black);
    box-shadow: 0 0 0 .1rem var(--mdm-font-color-main);
  }

  &:focus::placeholder {
    color: var(--mdm-color-grey);
  }

  &::placeholder {
    color: var(--mdm-font-color-muted);
  }

  @media (min-width: $bp-sm) {
    font-size: 37px;
    line-height: 48px;
  }

}

.mdm-code-input-wrapper {
  position: relative;
  display: inline-block;
  background: var(--mdm-color-black);
  border-radius: 12px;
  padding: 0.5rem 2rem 1rem;
}

.mdm-code-input-wrapper:focus-within {
  outline: 2px solid var(--mdm-font-color-main);
}

.mdm-code-boxes {
  display: flex;
  gap: 1em;
  pointer-events: none;
}

.mdm-code-box {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 24px;
  font-weight: bold;
  color: var(--mdm-font-color-main);
  width: 1ch;
  text-align: center;
  border-bottom: 2px solid #fff;

  @media (min-width: $bp-sm) {
    font-size: 37px;
  }
}

.mdm-code-box.active {
  border-bottom-color: color-mix(in oklab, var(--mdm-font-color-main), black 50%);
}

.mdm-code-box-char {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 24px;  // Keep in sync with .mdm-code-box
  font-weight: bold;
  color: transparent;

  @media (min-width: $bp-sm) {
    font-size: 37px;
  }

}

.mdm-code-box-char.filled {
  color: var(--mdm-font-color-main);
}

.mdm-code-input-real {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  caret-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
