@use '../abstracts/index' as *;

.mdm-modal {

  .modal-content {
    border-radius: 0;
    min-height: 35vh;
    max-height: 80vh;
    font-family: var(--mdm-ff-text-participation);
    font-size: 14.5px;
    line-height: 17px;
    text-align: center;

    @media (min-width: $bp-sm) {
      font-size: 24px;
      line-height: 28.8px;
    }

  }

  .modal-dialog {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    max-width: 950px;

    @media (min-width: $bp-md) {
      padding-top: 120px;
    }

    @media (min-width: $bp-md) {
      width: 80%;
    }
  }

  .modal-body {
    flex: none;
    min-height: 35vh;
    max-height: 80vh;
    padding: 30px;
    overflow-y: scroll;
  }

  .modal-header {
    border-bottom: none;
  }

  .btn-close-custom {
    font-family: var(--mdm-ff-headers-info);
    font-weight: lighter;

    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 4rem;
    line-height: 1;
    cursor: pointer;
    z-index: 1056;

    @media (min-width: $bp-sm) {
      font-size: 5rem;
      padding-top: 28px;
    }

    @media (min-width: $bp-lg) {
      font-size: 7rem;
    }

  }

  .btn-close-custom:hover {
    opacity: 1;
  }

  a {
    color: var(--mdm-font-color-modal);
  }
}

.modal-backdrop {
  opacity: .8 !important;
}
