<div class="modal fade mdm-modal"
     id="warningModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="warningModalLabel"
     aria-hidden="true">

  <button class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">{# djlint:off H023 #}&#x2715;{# djlint:on #}</button>

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Wir freuen uns über dein Interesse an dieser Seite.</h3>

        <p>
          Aktuell befindet sich dieser Teil von Digital Meal noch im Aufbau.
        </p>
        <p>
          Einige Inhalte sind möglicherweise noch unvollständig oder können sich ändern.
        </p>
        <p>
          Eine Teilnahme ist deshalb aktuell noch nicht möglich.
        </p>
      </div>
    </div>
  </div>
</div>
