{% extends "userflow/modals/modal.html" %}

{% load i18n %}

{% block modal_content %}
  {% blocktranslate trimmed %}
    <p>
      Im nächsten Schritt leiten wir dich zu TikTok weiter, wo du Digital Meal Zugriff auf deine Daten geben kannst.
    </p>

    <p>
      Danach werden wir deine TikTok-Nutzungsdaten von TikTok direkt auf dein Gerät herunterladen - es werden also
      erstmal keine Daten auf unseren Servern gespeichert.
    </p>

    <p>
      Du kannst dann die Daten, die wir für den TikTok-Report benötigen, in aller Ruhe anschauen und
      entscheiden, ob du sie an Digital Meal für die Erstellung des TikTok-Reports übermitteln möchtest.
    </p>

    <p>
      Erst wenn du der Übermittlung explizit zustimmst, werden die ausgewählten Daten bei uns gespeichert.
    </p>

    <p>
      Deine Daten werden dann verwendet, um deinen personalisierten Report zu generieren und für anonymisierte
      Auswertungen um besser zu verstehen, wie TikTok von der Bevölkerung genutzt wird.
    </p>

    <p>
      Deine Daten werden nicht für kommerzielle Zwecke genutzt oder an Dritte weitergegeben.
    </p>

  {% endblocktranslate %}
{% endblock modal_content %}
