{% extends "userflow/modals/modal.html" %}

{% load i18n %}

{% block modal_content %}
  <form method="post" action="{% url 'mdm:userflow:profiles:logout' %}">
  {% csrf_token %}

    {% blocktranslate trimmed %}
      <p>
        Warte einige Minuten und prüfe auch deinen Spam-Ordner.
      </p>

      <p>
        Wenn du keinen Code erhalten hast, kannst du versuchen,
        den Code erneut anzufordern.
        Kehre dafür zum <button class="btn-link text-black" type="submit">Login</button> zurück.
      </p>

      <p>
        Wenn das Problem weiterhin besteht, versuche es später erneut oder
        schreib uns eine Nachricht an <a href="mailto:kontak@digital-meal.ch">kontak@digital-meal.ch</a>.
      </p>
    {% endblocktranslate %}

  </form>
{% endblock modal_content %}
