.base-module-label {
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    color: #575757;
    filter: brightness(110%);
}
#base-module-container input[type=radio]:checked + .base-module-label{
    filter: brightness(100%) !important;
    border: 6px solid black;
    color: black;
}

.base-module-bg-1 {
    background: var(--blue);
}
.base-module-bg-2 {
    background: var(--orange);
}
.base-module-bg-3 {
    background: var(--purple);
}

.sub-module-label {
    cursor: pointer;
    min-height: 150px;
    border: 6px solid white;
    background: var(--yellow);
    color: #575757;
}
#sub-module-container input[type=checkbox]:checked + .sub-module-label{
    filter: none !important;
    border: 6px solid black;
    color: black;
}

.sub-module-bg-1 {
    background: var(--yellow);
}
.sub-module-bg-2 {
    background: var(--green);
}
.sub-module-bg-3 {
    background: var(--blue);
}
.sub-module-bg-4 {
    background: var(--lightgreen);
}

.dm-form p {
    padding-bottom: 20px;
}

.dm-form input[type=checkbox] {
    display: inline-block;
    transform: scale(1.4);
    margin-left: 5px;
    margin-right: 5px;
}

.dm-form input[type=checkbox]:hover {
    cursor: pointer;
}
