{% load static %}

<div class="d-flex flex-column">

  <div class="flex-row align-items-center justify-content-start d-flex">
    <div class="col-auto"><a href="{% url 'tool_main_page' %}"><img alt="Digital Meal Brand" src="{% static 'website/img/DigitalMeal_logo.svg' %}" height="100px"></a></div>
    <div class="col-auto"><span class="border-end border-dark border-3 pb-4 pt-4 ps-3 me-3"></span></div>
    <div class="col user-select-none">
      <div class="row align-items-center">
        <div class="col-auto fs-2 fw-bold" style="font-family: Space Grotesk;">Onlinetool</div>
        <div class="col-auto ps-md-2 pt-md-2" style="font-family: Space Grotesk;">Beta Version</div>
      </div>
    </div>
  </div>

</div>
