<div id="user-nav-bar" class="background-lightgreen">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between user-nav-content">
        <div>
          <button class="me-3"><a href="/"><b>Zur Webseite</b></a></button>
          <span><a href="{% url 'tool_main_page' %}" class="text-white" style="text-decoration: none;"><b>Meine&nbsp;Klassen</b></a></span>
        </div>
        <div class="ps-3" >
          {% if user.is_authenticated %}
          Angemeldet als <a class="user-nav" href="{% url 'profile' %}"><b>{{ user.email }}</b></a> |
          <a class="user-nav" href="{% url 'account_logout' %}">Abmelden</a>
          {% else %}
          <a class="user-nav" href="{% url 'profile' %}">Anmelden</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
