{% extends "digital_meal/base.html" %}

{% block title %}Klassenliste{% endblock title %}

{% block main_content %}

<h1>Meine Klassen</h1>
<div>
  {% if object_list %}
  <ul>
    {% for room in object_list %}
    <li><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  Es wurde noch keine Klasse erstellt.
  {% endif %}
</div>
<div class="mt-4">
  <p><a class="button" href="{% url 'classroom-create' %}">Neue Klasse erstellen</a></p>
</div>

{% endblock main_content %}
