{% extends "digital_meal/base.html" %}

{% block title %}Klassenübersicht "{{ object.name }}"{% endblock title %}

{% block main_content %}

<h1 class="mb-3">Klasse "{{ object.name }}"</h1>

<div class="mb-4">
  <table>
    <tbody>
    <tr>
      <td class="pe-5">Klassenbezeichnung:</td>
      <td>{{ object.name }}</td>
    </tr>
    <tr>
      <td>Erstellt am:</td>
      <td>{{ object.date_created }}</td>
    </tr>
    <tr>
      <td>Schulstufe:</td>
      <td>{{ object.get_school_level_display }}</td>
    </tr>
    <tr>
      <td>Schuljahr:</td>
      <td>{{ object.school_year }}</td>
    </tr>
    <tr>
      <td>Unterrichtsfach:</td>
      <td>{{ object.get_subject_display }}</td>
    </tr>
    <tr>
      <td>Unterrichtsformat:</td>
      <td>{{ object.get_instruction_format_display }}</td>
    </tr>
    <tr>
      <td class="pt-3"><b>Teilnahmelink</b>:</td>
      <td class="pt-3"><a href="{{ object.track.ddm_path }}?class={{ object.external_id }}">{{ object.track.ddm_path }}?class={{ object.external_id }}</a></td>
    </tr>
    </tbody>
  </table>

</div>

<div class="mt-4">
  <h2>Materialien</h2>

  <p>Hier finden Sie alle Materialien, die zum ausgewählten Modul "YouTube" gehören.</p>

  <ul>
    <li>Handbuch</li>
    <li>Arbeitsblätter</li>
    <li>Fact-Sheet</li>
    <li>Foliensätze</li>
  </ul>
</div>

<div class="mt-4">
  <h2>Teilnahmeübersicht</h2>

  <ul>
    <li>Abgeschlossene Teilnahmen: {{ n_finished }}</li>
    <li>Laufende Teilnahmen: {{ n_not_finished }}</li>
    <li>Anzahl hochgeladene Datensätze:</li>
    <li style="list-style-type:none">
      <ul>
        {% for key, value in n_donations.items %}
        <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </li>
  </ul>

</div>


<div class="mt-4">
  <h2>Reports</h2>

  <p>
    Hier finden Sie die Links zu den Klassenauswertungen. Bitte beachten Sie, dass die Auswertungen erst angezeigt werden,
    wenn mindestens 5 Personen einer Gruppe am Modul teilgenommen haben.
  </p>

  <ul>
    <li><a href="{% url 'classroom-report' object.pk %}" target="_blank">Klassenreports</a></li>
  </ul>
</div>

{% endblock main_content %}
