{% extends "digital_meal/base.html" %}

{% block title %}Profilübersicht{% endblock title %}

{% block main_content %}

<!-- TODO: Add info button in the top right window and show modal containing a screenshot with all important parts highlighted (not on mobile). -->

<!-- TODO: Delete "Profilübersicht title -->
<h1>Profilübersicht</h1>

<div class="dm-intro">
  <p>Auf dieser Seite finden Sie alle wichtigen Informationen zur Benutzung von Digital Meal.</p>
</div>

<div class="dm-section">
  <h2>Informationsmaterialen</h2>

  <!-- TODO: Update description and summarize the "flow" of digital meal. -->

  <p>
    Hier finden Sie Links zu allgemeinen Informationsmaterialien. <br>
    Arbeits- und Unterrichtsmaterialien die zu spezifischen Modulen passen, finden
    Sie in der Übersicht der einzelnen Klassen. Klicken Sie dazu unten auf einen
    Klassennnamen.
  </p>
</div>

<div class="dm-section">
  <h2>Meine Klassen</h2>
</div>


<div class="mt-3">
{% if object_list %}
  <h3>Aktive Klassen</h3>
  <!-- TODO: Show active classes as tiles (or similar) and add extra information. -->
  <!-- TODO: Move Archive to the right of active classes. -->
  <ul>
    {% for room in object_list %}
    {% if room.is_active %}
    <li><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

  <h3>Archiv</h3>
  <ul>
    {% for room in object_list %}
    {% if room.is_active is not True %}
    <li><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  Es wurde noch keine Klasse erstellt.
  {% endif %}
</div>
<div class="mt-4">
  <p><a class="button" href="{% url 'classroom-create' %}">Neue Klasse erstellen</a></p>
</div>

{% endblock main_content %}
