{% extends "digital_meal/base.html" %}

{% block title %}Digital Meal für Lehrpersonen{% endblock title %}

{% block main_content %}

<!-- TODO: Rollback before commit. -->

<h1 class="mb-3">Digital Meal für Lehrpersonen</h1>

<div class="mb-4">
  <h2>Was ist Digital Meal</h2>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>

  <h2>Lehrmaterialen</h2>

  <p>
    Hier werden Informationen und Links zu den Lehrmaterialien stehen.
  </p>

  <h2>Mitmachen</h2>

  <p>
    Um Digital Meal für Ihren eigenen Unterricht zu nutzen, können Sie sich über
    den untenstehenden Link registrieren und Ihren eigenen Classroom erstellen.
    Der Account und ein Classroom sind dabei in wenigen Minuten erstellt und bereit
    um im Unterricht eingesetzt zu werden.
  </p>
  <a href="{% url 'account_signup' %}">Registrieren</a><br>
  <a href="{% url 'account_login' %}">Ich bin bereits registriert und möchte mich einloggen</a>

</div>

{% endblock main_content %}
