@use '../abstracts/index' as *;

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: var(--mdm-body-bg-color);
}

.col {
  padding-left: 30px;
  padding-right: 30px;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subbrand-inline-logo {
  height: 85px;

  @media (min-width: $bp-sm) {
    height: 120px;
  }

  @media (min-width: $bp-md) {
    height: 150px;
  }

  @media (min-width: $bp-lg) {
    height: 150px;
  }

  @media (min-width: $bp-xl) {
    height: 150px;
  }

  @media (min-width: $bp-xxl) {
    height: 150px;
  }
}
