@use '../abstracts/index' as *;

.uploader-container {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
}

.uploader-section .border-success > .ddm-dropzone {
  background: var(--mdm-color-accent-green);
  background: linear-gradient(
                  108deg,var(--mdm-color-accent-green) 0%,
                  var(--mdm-color-accent-yellow) 65%,
                  var(--mdm-color-accent-pink) 100%
  );
  border: none !important;
}

.uploader-section .border-success .text-success {
  color: var(--mdm-color-black) !important;
}

.uploader-section .text-success {
  color: #47a577 !important;
}

.uploader-section .selected-donate-agree.donation-btn {
  background: #47a577 !important;
}

.uploader-section .selected-donate-disagree.donation-btn {
  background: var(--mdm-color-accent-pink) !important;
}

.flow-btn {
  color: var(--mdm-color-black) !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10em;
  font-family: Space Grotesk, sans-serif;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
  background: var(--mdm-color-grey);
  background-color: var(--mdm-color-grey);
}
.flow-btn:hover {
  color: var(--mdm-color-black) !important;
  filter: brightness(200%);
}

.custom-flow-btn {
  float: right;
}

#processingModal .custom-modal-content {
  background: var(--mdm-color-accent-red) !important;
  background: linear-gradient(
                  108deg,var(--mdm-color-accent-red) 0%,
                  var(--mdm-color-accent-pink) 55%,
                  var(--mdm-color-accent-yellow) 100%
  ) !important;
  color: var(--mdm-color-black) !important;
}

#processingModal .dot-floating,
#processingModal .dot-floating::before,
#processingModal .dot-floating::after {
  background-color: var(--mdm-color-black);
  color: var(--mdm-color-black);
}

.ddm-uploader {
  .uploader-name {
    color: white;
    font-family: var(--mdm-ff-space-grotesk);
    font-size: 2.25rem !important;
    padding-bottom: .5rem;
    text-align: center;
  }

  .section-heading {
    font-family: var(--mdm-ff-space-grotesk);
    font-weight: 500;
  }

  .section-icon {
    color: #999;
  }

  .uploader-section {

    .text-success,
    .fs-5.fw-bold.pb-2,
    .donation-btn {
      font-family: var(--mdm-ff-space-grotesk);
    }
  }
}

#uapp {
  .uploader-container {
    padding-left: 0;
    padding-right: 0;
  }

  .grey-button:hover {
    background: #b3b3b3;
  }

  .step-heading {
    color: white;
  }

  .instruction-page {
    overflow-y: unset;
  }

  .ddm-primary-button-base {
    background: white;
  }

  .modal-footer {
    padding: 10px;
  }

  .modal-footer button {
    margin-left: 10px;
  }

  .instruction-container {
    p, h1, h2, h3, h4 {
      color: black;
      font-family: var(--mdm-ff-space-grotesk);
    }
    h1 {
      margin-bottom: 1rem;
    }
    p {
      font-size: 20px;

      @media (min-width: $bp-md) {
        font-size: 24px;
      }
    }
  }

  .instruction-collapsible-body,
  .instruction-collapsible-body p,
  .instruction-collapsible p {
    color: white;
    font-size: 18px !important;
  }

  .instruction-collapsible p {
    margin-bottom: 0;
  }

  .uploader-section.pt-1 > .d-flex.flex-column > div > p {
    color: white;
  }

  .extraction-info {
    background: white;
  }

  .extraction-header {
    border-radius: 0;
  }

  .expansion-button {
    color: #939394;
  }
}

#uapp.ddm-portability {
  visibility: hidden; // visibility is controlled through JS
}
