@use '../abstracts/index' as *;

// Hyperlinks
a {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  color: var(--mdm-font-color-main);

  &:hover {
    color: var(--mdm-font-color-main);
    filter: brightness(70%);
  }
}

// Text Classes
.mdm-title {
  font-size: 50px;
  line-height: 60px;
  font-family: var(--mdm-ff-headers-participation);
  font-weight: bold;
  color: var(--mdm-font-color-main);
}

.mdm-subtitle {
  font-size: 37px;
  line-height: 48px;
  font-family: var(--mdm-ff-headers-participation);
  color: var(--mdm-font-color-main);

  @media (min-width: $bp-lg) {
    font-size: 35px;
    line-height: 42px;
  }
}

.mdm-lead {
  font-size: 37px;
  line-height: 48px;
  font-family: var(--mdm-ff-headers-participation);
  color: var(--mdm-font-color-main);
  margin-bottom: 3.5rem;

  @media (min-width: $bp-lg) {
    font-size: 53px;
    line-height: 68px;
  }
}

.mdm-text {
  font-size: 30px;
  line-height: 39px;
  font-family: var(--mdm-ff-space-grotesk);
  color: var(--mdm-font-color-main);
}

.mdm-text-muted {
  @extend .mdm-text;

  color: var(--mdm-font-color-muted);

  a {
    color: var(--mdm-font-color-muted);
  }
}

.mdm-list-participation {
  font-size: 30px;
  line-height: 39px;
  font-family: var(--mdm-ff-text-participation);
  color: var(--mdm-font-color-main);

  li {
    padding-left: 30px;
  }
}

.mdm-info-lead {
  font-size: 37px;
  line-height: 48px;
  font-family: var(--mdm-ff-headers-participation);
  color: var(--mdm-font-color-main);

  @media (min-width: $bp-lg) {
    font-size: 35px;
    line-height: 42px;
  }
}

.mdm-info-text {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--mdm-ff-text-info);
  color: var(--mdm-font-color-main);

  @media (min-width: $bp-lg) {
    font-size: 24px;
    line-height: 29px;
  }
}

.mdm-list-info {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--mdm-ff-text-info);
  color: var(--mdm-font-color-main);

  li {
    padding-left: 30px;
    padding-bottom: 8px;
    line-height: 2rem;
  }
}

// Lists
.mdm-list-container {
  padding-left: 5px;
  padding-right: 5px;
  text-align: start;

  @media (min-width: $bp-sm) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $bp-lg) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @media (min-width: $bp-xl) {
    padding-left: 15%;
    padding-right: 15%;
  }

}

ul.mdm-list,
ul.mdm-list-info {
  list-style-type: "–";
}

.mdm-list-item {
  padding-left: 10px;
  padding-bottom: 8px;
  line-height: 2rem;
}
