{% extends "digital_meal_website/base.html" %}

{% block title %}Digital Meal | Etwas ist schiefgelaufen {% endblock %}

{% block main_content %}
<div>
  <h1>Da ist etwas schiefgelaufen</h1>
  <p>Leider ist auf unseren Servern ein unerwarteter Fehler aufgetreten.</p>
  <p>Sie können versuchen, die Seite erneut zu laden. Sollte der Fehler weiterhin auftreten, können Sie uns das Problem via
  <a href="mailto:contact@digital-meal.ch">contact@digital-meal.ch</a> schildern.
    Wir versuchen anschliessend schnellstmöglich eine Lösung zu finden.</p>
  <p><button><a href="/">Zur Hauptseite</a></button></p>
</div>
{% endblock main_content %}
