{% load i18n %}

<div class="htmx-smooth-transition">
  <p class="mdm-text">
    <strong>{% translate "Leider kann TikTok Ihre Daten im Moment nicht direkt übermitteln." %}</strong>
  </p>

  {% if study_redirect_link %}
    <p class="mdm-text">
      {% blocktranslate trimmed %}
        Sie können zum Fragebogen zurückkehren, um Ihre Teilnahme abzuschliessen.
      {% endblocktranslate %}
    </p>

    <p>
      <a href="{{ study_redirect_link }}" class="btn mdm-color-btn-v2 ps-5 pe-5 fs-3">
        {% translate "Weiter zum Fragebogen" %}
      </a>
    </p>

  {% else %}
    <p class="mdm-text">
      {% blocktranslate trimmed %}
        Sie können stattdessen Ihre Daten selbst
        bei TikTok herunterladen und anschliessend hochladen.
      {% endblocktranslate %}
    </p>

    <p>
      <a href="{% url 'mdm:userflow:studies:enroll' %}?project_id={{ project_id }}&method=download-upload&{{ url_parameters }}" class="btn mdm-color-btn-v2">
        Daten selber herunterladen
      </a>
    </p>

  {% endif %}
</div>
