<p class="mdm-text">
  {% blocktranslate trimmed %}
    <strong>Zugriff autorisiert!</strong><br />
    Wir noch immer darauf, dass TikTok die Daten bereitstellt.
    Leider dauert das aktuell länger als üblich.
  {% endblocktranslate %}
</p>

<p class="mdm-text">
  {% blocktranslate trimmed %}
    Sie können entweder noch etwas warten oder das Fenster an dieser Stelle schliessen.
    Wir melden uns in den nächsten Tagen per Mail, damit Sie genau hier weitermachen können.
  {% endblocktranslate %}
</p>
