{% extends "digital_meal/form_tool.html" %}

{% block title %}Klasse erstellen{% endblock title %}

{% block form_intro %}
<h1>Wählen Sie ein Modul für die neue Klasse</h1>

<p>
  Das Modul bestimmt, mit welcher Plattform und welchen Inhalten sich Ihre Klasse auseinandersetzen wird.
  Dies kann später nicht mehr geändert werden, lesen Sie sich die Informationen also bitte aufmerksam durch.
</p>

<h2>Basismodul: Plattform</h2>
<p>Auf welcher Plattform soll der Schwerpunkt des Moduls liegen?</p>

<div class="d-flex justify-content-evenly w-75">
  <div style="height: 150px; width: 150px; border-radius: 10px; border: 1px solid black; background: #ff0000; text-align: center; padding-top: 50px;">YouTube</div>
  <div style="height: 150px; width: 150px; border-radius: 10px; border: 1px solid black; background: #00efe8; text-align: center; padding-top: 50px;">TikTok</div>
  <div style="height: 150px; width: 150px; border-radius: 10px; border: 1px solid black; background: #f69a00; text-align: center; padding-top: 50px;">Instagram</div>
</div>

<h2 class="mt-5">Themen-Bausteine</h2>

<p>
  Neben dem Grundthema "digitale Mediennutzungskompetenzen" können Sie dem Modul optional weitere Themen-Bausteine hinzufügen.
  Dies wird einen Einfluss darauf haben, welche Fragen Ihre Schüler:innen zusätzlich zur Datenspende beantworten werden
  und welche Aufgaben und Arbeitsblätter Ihnen zur Verfügung stehen. <br>
  Bitte beachten Sie, dass zusätzliche Themen-Bausteine die benötigte Dauer zur Durchführung des Moduls erhöhen.
</p>

<div class="d-flex justify-content-evenly w-75">
  <div style="height: 150px; width: 150px; border-radius: 10px; border: 1px solid black; background: #83c983; text-align: center; padding-top: 50px;">Nutzungsmotive</div>
  <div style="height: 150px; width: 150px; border-radius: 10px; border: 1px solid black; background: #86c4c2; text-align: center; padding-top: 50px;">Selbstregulierung</div>
  <div style="height: 150px; width: 150px; border-radius: 10px; border: 1px solid black; background: #f3bbfa; text-align: center; padding-top: 50px;">Wahrnehmung der Wirklichkeit</div>
</div>

{% endblock form_intro %}

{% block submit_value %}Modul auswählen{% endblock %}
