@use '../abstracts/index' as *;

#footer-container {
  background: var(--mdm-color-black);
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: var(--mdm-ff-space-grotesk);
  font-size: 1.2rem;
  color: var(--mdm-color-white);

  a {
    color: var(--mdm-color-white);
  }
}

.footer-logo {
  max-width: 250px;
  width: 30vw;
}

.footer-item {
  padding-bottom: 0.5rem;
  font-size: 24px;
  line-height: 32px;

  @media (min-width: $bp-lg) {
    max-width: 250px;
  }
}
