@use '../abstracts/index' as *;

#footer-container {
  background: var(--mdm-color-black);
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: var(--mdm-ff-space-grotesk);
  font-size: 1.2rem;
  color: var(--mdm-color-white);

  a {
    color: var(--mdm-color-white);
  }
}

.footer-logo-container {
  width: 25vw;
  max-width: 450px;
  padding: 15px;
}

.footer-logo {
  max-width: 250px;
  width: 100%;
}

.footer-item {
  padding-bottom: 0.5rem;
  font-size: 24px;
  line-height: 32px;
  overflow-wrap: break-word;
}
