{% load i18n %}

<div class="border border-secondary rounded bg-light p-3">
  <p class="mb-0">
    {% translate "Leider ist beim Abrufen deiner Daten ein Fehler aufgetreten." %}
  </p>
  <p class="mb-0">
    {% blocktranslate trimmed %}
      Bitte versuche es noch einmal oder kontaktiere den Support:
      <a href="mailto:kontakt@digital-meal.ch">kontakt@digital-meal.ch</a>
    {% endblocktranslate %}
  </p>
  <p><a href="{% url 'tiktok_auth' %}" class="btn darkblue-button">{% translate "Noch einmal versuchen" %}</a></p>
</div>
