{% extends "infopages/base.html" %}

{% load i18n %}

{% block page_title %}{% translate "So funktioniert's" %}{% endblock page_title %}

{% block content %}

  <div class="info-intro-container">
    <h1 class="mdm-title">
      So funktioniert My Digital Meal
    </h1>

    <p class="mdm-info-lead">
      Hier erklären wir dir, wie wir deine Reports
      aus deinen Daten generieren.
      Du erfährst, woher deine Daten stammen,
      wie wir deine Daten abspeichern und wie wir
      deine Report-Statistiken berechnen.
    </p>

  </div>

  <div class="info-main-text-container">
    <div class="info-container">
      <h2 class="mdm-info-text">
        Deine TikTok Daten
      </h2>

      <p class="mdm-info-text">
        Die Daten, die wir für die Generierung der
        Reports verwenden, werden nicht von uns
        aufgezeichnet, sondern stammen aus deinem
        TikTok-Account. TikTok zeichnet deine App-Nutzung kontinuierlich auf und speichert
        diese ab. Du gibst My Digital Meal lediglich
        das Recht, deine TikTok-Nutzungsdaten
        verwenden zu dürfen, um dir deinen Report
        zu erstellen.
      </p>
    </div>

    <div class="info-container">
      <h2 class="mdm-info-text">
        Was TikTok aufzeichnet
      </h2>

      <p class="mdm-info-text">
        TikTok speichert eine Vielzahl von
        Informationen darüber ab, wie du TikTok
        nutzt. Diese Daten werden von TikTok
        verwendet, um dir einerseits gezieltere
        Inhalte, andererseits aber auch gezieltere
        Werbung anzeigen zu können. Schau dir auch
        an, was TikTok dazu sagt.
      </p>
    </div>

    <div class="info-container">
      <h2 class="mdm-info-text">
        Wie du Deine Daten zugänglich machst
      </h2>

      <p class="mdm-info-text">
        Damit wir deinen TikTok-Report erstellen
        können, musst du TikTok Bescheid geben,
        dass TikTok deine Daten mit uns teilen
        soll. Dafür klickst du auf unserer Seite auf
        einen Link, der dich zur Webseite von TikTok
        schickt, wo du My Digital Meal den Zugriff
        auf deine Daten erlauben kannst (siehe
        Abb. unten). Danach wirst du auf unsere
        Webseite zurückgeleitet und TikTok erlaubt
        uns im Hintergrund auf deine Nutzungsdaten
        zuzugreifen.
      </p>
    </div>

    <div class="info-container">
      <h2 class="mdm-info-text">
        Welche Daten wir von TikTok erhalten
      </h2>

      <p class="mdm-info-text">
        Von den Daten, die wir von TikTok erhalten,
        speichern wir die folgenden Informationen:
      </p>

      <ul class="mdm-list-info">
        <li>
          Nutzungshistorie bestehend aus den IDs
          der Videos, die du gesehen hast und zu
          welchem Zeitpunkt du das Video gesehen
          hast
        </li>
        <li>Welchen Accounts du folgst</li>
        <li>Welche Videos du geliket hast</li>
      </ul>

      <p class="mdm-info-text">
        Aus diesen Informationen wird dann dein
        Report generiert.
      </p>
    </div>

    <div class="info-container">
      <h2 class="mdm-info-text">
        Schritte der Reportgenerierung
      </h2>

      <p class="mdm-info-text">
        Die Generierung der Reports besteht im
        Wesentlichen aus drei Schritten:
      </p>

      <ol class="mdm-list-info">
        <li>
          Anforderung deiner Daten von TikTok
        </li>
        <li>Auswertung deiner Daten</li>
        <li>Visualisierung deiner Daten</li>
      </ol>
    </div>
  </div>

{% endblock content %}
